body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;  */
  height: 100vh;
    background-color: #f7f7f7!important;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.question {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.option {
  margin: 5px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #e0e0e0;
}

.option.selected {
  background-color: #66bb6a;
  color: white;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.next-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.score-container {
  margin-top: 20px;
}

.score {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.restart-button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #2980b9;
}
